


body {
    background-color: #444;
    color: white;
}

h2 {
    color: burlywood;
}

section.task4-sect, section.task5-sect, section.task6-sect {
    display: flex;
    justify-content: center;
    row-gap: 50px;
    flex-wrap: wrap;

}

div.task4-div {
    box-sizing: border-box;
    display: inline-flex;
    margin: 10px;
    width: 70px;
    min-width: 70px;
    height: 70px;
    border: 3px solid royalblue;
    background-color: #4169e1b0;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

div.task5-div {
    box-sizing: border-box;
    display: inline-flex;
    margin: 10px;
    width: 90px;
    min-width: 90px;
    height: 90px;
    border: 3px solid crimson;
    background-color: #dc143cb0;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 1.5;
}

div.task6-div {
    box-sizing: border-box;
    display: inline-flex;
    margin: 10px;
    width: 90px;
    min-width: 90px;
    height: 90px;
    border: 3px solid green;
    background-color: #008000b0;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

section.task7-sect {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

span.task7-span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid goldenrod;
    border-radius: 50%;
    background-color: #daa520b0;
}



