


body {
    background-color: #444;
    color: white;
    height: 2000px;
}

h2 {
    color: burlywood;
}

section.task4-sect {
    display: flex;
    justify-content: center;
    row-gap: 50px;
    flex-wrap: wrap;

}

div.task4-div {
    box-sizing: border-box;
    display: inline-flex;
    margin: 10px;
    width: 70px;
    min-width: 70px;
    height: 70px;
    border: 3px solid royalblue;
    background-color: #4169e1b0;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}



