

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(lightblue, darkblue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    background-color: lightgray;
    border: 3px solid black; 
    border-radius: 20px;
    padding: 40px;
    box-shadow: 5px 5px 5px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

button.roll {
    background-color: darkgray;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px;
    cursor: pointer;
}

button.roll:hover {
    background-color: gray;
}

div.image {
    font-size: 70px;
}
