

body {
    margin: 0;
}

.flex {
    /* width: 1200px;
    display: inline-block; */
    /* min-height: 50vh; */
    /* margin: 0; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

section.flex div.square {
    margin: 15px;
    width: 250px;
    height: 250px;
    border: 4px solid #000000;
    background-color: #00000070;
}

section.flex div.circle {
    margin: 15px;
    width: 250px;
    height: 250px;
    border: 4px solid #000000;
    background-color: #00000070;
    border-radius: 50%;
}

section.flex div.triangle {
    margin: 15px;
    width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 250px solid #00000070;
}

