#mygtukas {
    padding: 25px 35px;
    font-size: 60px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(145deg, #026265, #06c0ca);
    color: rgb(162, 234, 242);
    cursor: pointer;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
}

#mygtukas:active {
    transform: translateY(6px) translateX(2px) rotateX(2deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}