h1 span {
    color: blueviolet;
}

span {
    color: crimson;
    font-weight: 700;
}

span{
    color: skyblue;
}

h1 {
    color: #099024;
    font-size: 56px;
    /* text-transform: Lowercase; pirma raidė bus maža */
    font-weight: 300;
    font-family: "Rajdhani", sans-serif;
    letter-spacing: 13px;
}


    
    /* font-family: po kablelio galima sudeti ir daugiau fontu, 
    kad jei nebus pirmo uzkraus antra, trecia ir tt, zodziu - testinumas */

    /* PASTABA: fontas randasi pas mus kompe fiziskai, todel fontas pas kitus 
    gali neatsivaizduot, jei kitas zmogus netures to fonto, todel geriau fonta imt is intiko*/

    /* Tailwind CSS */