




header {
    /* box-sizing: border-box; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: burlywood;
    border-bottom: 5px solid black;
}

main {
    padding-top: 100px;
}

div.buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-left: 43px;
}

ol.color-list {
    display: flex;
    flex-wrap: wrap;
}

button#green-btn {
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    color: white;
    height: 30px;
    width: 70px;
    border: 2px solid darkgreen;
    border-radius: 30px;
    transition: 0.2s all ease-out;
}

button#green-btn:hover {
    color: green;
    background-color: white;
    border: 2px solid green;
}

button#green-btn:active {
    color: white;
    background-color: green;
    border: 2px solid darkgreen;
    transition: 0s;
}


button#blue-btn {
    cursor: pointer;
    font-weight: bold;
    background-color: blue;
    color: white;
    height: 30px;
    width: 70px;
    border: 2px solid darkblue;
    border-radius: 30px;
    transition: 0.2s all ease-out;
}

button#blue-btn:hover {
    color: blue;
    background-color: white;
    border: 2px solid blue;
}

button#blue-btn:active {
    color: white;
    background-color: blue;
    border: 2px solid darkblue;
    transition: 0s;
}

button#red-btn {
    cursor: pointer;
    font-weight: bold;
    background-color: crimson;
    color: white;
    height: 30px;
    width: 70px;
    border: 2px solid darkred;
    border-radius: 30px;
    transition: 0.2s all ease-out;
}

button#red-btn:hover {
    color: crimson;
    background-color: white;
    border: 2px solid crimson;
}

button#red-btn:active {
    color: white;
    background-color: crimson;
    border: 2px solid darkred;
    transition: 0s;
}

li {
    flex-shrink: 0;
}