

li:first-child,
li:nth-child(2),
li:last-child {
    font-weight: bold;
}

body > div:last-child > ul,
body > div:last-child > ol {
    background-color: crimson;
}

ol li:last-child {
    font-style: italic;
}