* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    color: white;
    background-color: darkgreen;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todoApp {
    border: 2px solid white;
    border-radius: 20px;
    background-color: forestgreen;
    width: 90%;
    margin-top: 50px;
    padding: 30px;
}

h1 {
    padding: 20px;
}

.taskInput {
    padding: 5px 10px;
    outline: none;
    border-radius: 50px;
    border: 2px solid black;
}

.addTaskBtn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    outline: none;
    margin-left: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.todoContainer {
    margin-top: 30px;
    width: 100%;
}

.taskList {
    list-style-type: none;
    gap: 10px;
    min-width: 90%;
}

.taskList li {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: beige;
    border-radius: 15px;
    padding: 5px 10px;
    min-width: 90%;
}

.taskList li span {
    margin-left: 10px;
    color: black;
    padding: 5px 10px;
}

.taskButtons {
    display: flex;
    /* gap: 10px; */
    margin-left:auto;
}

.editBtn {
    background-color: darkgoldenrod;
}

.deleteBtn {
    background-color: crimson;
}

.editBtn,
.deleteBtn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    outline: none;
    margin-left: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.checkbox {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}





