body {
    height: 3000px;
}

h2 {
    color: yellow;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.task2-span-fiction {
    font-size: 16px;
}

div.task3-div {
    margin: 5px;
    display: inline-flex;
    width: 80px;
    height: 80px;
    border: 3px solid dodgerblue;
    background-color: #1e8fffa4;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
}

div.task4-blue {
    margin: 5px;
    display: inline-flex;
    width: 80px;
    height: 80px;
    border: 3px solid royalblue;
    background-color: #4169e1b0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
}

div.task4-red {
    margin: 5px;
    display: inline-flex;
    width: 80px;
    height: 80px;
    border: 3px solid crimson;
    background-color: #dc143cb0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
}

section.task5-sect {
    display: flex;
    width: 200px;
    justify-content: space-evenly;

    div.span1-div {
        display: flex;
        flex-direction: column;
    }

    div.span2-div {
        display: flex;
        flex-direction: column;
    }

    div.span3-div {
        display: flex;
        flex-direction: column;
    }

    div.span4-div {
        display: flex;
        flex-direction: column;
    }

    div.span5-div {
        display: flex;
        flex-direction: column;
    }
}




section.task7-sect {
    position: relative;
    height: 400px;
}

div.task7-div {
    display: inline-flex;
    position: absolute;
}

section.task8-sect {
    display: inline-block;
    line-height: 0;
}

div.task8-div1 {
    font-size: 20px;
    line-height: 0.6;
}

div.task9-div {
    font-size: 16px;
}

span#task9-span {
    font-size: 16px;
    /* display: none; */
}