


body {
    background-color: #444;
    color: white;
}

input {
    outline: none;
}

.ball {
    /* color: black; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: white;
    font-weight: bold;
}

