

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.box {
    margin: 15px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: relative;
}

.box::after {
    color: white;
    text-align: center;
    line-height: 50px;
    content: 'cat';
    display: block;
    width: 50px;
    height: 50px;
    background-color: chocolate;
    position: absolute;
    bottom: 0;
    left: 0;
}

.box::before {
    color: white;
    content: 'dog';
    text-align: center;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: darkgreen;
    position: absolute;
    bottom: -2px;
    right: -52px;
}

@media (max-width: 480px) {
    body {
        background-color:khaki;
    }
}

@media (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

@media (min-width: 780px) {
    body {
        background-color: lightsalmon;
    }
}

@media (max-width: 1900px) {
    .box {
        background-color:darkorange ;
    }
}

@media (min-width: 1000px) {
    .box {
        background-color:cornflowerblue ;
    }
}

section {
    font-size: 0;
    max-width: 1300px;
    border: 1px solid gray;
    margin: 20px auto;
}

section .block {
    background-color: cornflowerblue;
    margin: 20px;
    display: inline-block;
}

@media (max-width: 1900px) {
   section .block {
        width: calc(25% - 40px);
        font-size: 36px;
    }
}

@media (max-width: 780px) {
   section .block {
        width: calc(50% - 40px);
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    section .block {
        width: calc(100% - 40px);
        font-size: 20px;
    }
}

div.icon svg {
    width: 300px;
}

body > div.icon > svg > path:nth-child(10) {
    fill: skyblue;
}

body > div.icon > svg > path:nth-child(11) {
    fill: crimson;
}

body > div.icon > svg > path:nth-child(9):hover {
    fill: darkgreen;
}

.find {
    margin: 30px;
    position: relative;
    display: inline-block;
}

.find input {
    font-size: 30px;
    border: none;
    outline: none;
    transition: all 0.6s;

}

.find svg {
    width: 30px;
    position: absolute;
    top: 3px;
    right: 3px;
    fill: gray;
}

.find input:focus {
    border: 1px solid aqua;
    border-radius: 5px;
    text-decoration: none;
}

.find input:focus::placeholder {
    transition: opacity 0.5s;
    opacity: 0;
}


h1 {
    color: skyblue;
}