* {
    margin: 0;
    box-sizing: border-box;

}

body {
    margin-top: 25px;
    background-color: #444;
    color: white;
    height: 100vh;
}

hr {
    width: 100%;
    margin: 25px 0;
}

// Task 1

section.task1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    div {
        border: 2px solid white;
        padding: 2px;
        width: 120px;
        display: flex;
        justify-content: flex-end;
        margin-right: 25px;
        border-radius: 7px;

        p {
            border: 2px solid white;
            padding: 45px 10px;
            border-radius: 5px;
            width: 50px;
        }
    }
}

// Task 2

section.task2 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 400px;
    // min-width: calc(33.3333% - 30px);

    div {
        display: flex;
        flex-direction: column;
        border: 3px solid white;
        border-radius: 10px;
        min-width: 100px;
        height: 250px;
        width: calc(33.3333% - 30px);
    }

    div.center {
        // padding: 50px 15px;
        align-self: center;
        text-align: center;
        justify-content: center;
    }

    div.top-left {
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px;
    }
}

section.task3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    div.circle {
        position: relative;
        display: flex;
        border: 3px solid black;
        width: 200px;
        height: 200px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color:saddlebrown;
        color: black;
        font-weight: 800;

        span {
            color: white;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    div.square {
        position: relative;
        display: flex;
        border: 3px solid black;
        width: 150px;
        height: 350px;
        align-items: center;
        justify-content: center;
        background-color: green;

        span {
            color: white;
            position: absolute;
            top: 10px;
            left: 10px;
        }

        p {
            width: 70px;
            color: black;
        }
    }
}