



ul {
    list-style-type: none;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #000000;
 
}

ul li {
    color: #4c4b4b;
}
 
ul li.user {
    background-color: #767474;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

ul li.user:hover {
    background-color: #6d6b6b;
}

ul li.vated {
    font-weight: bold;
    color: #000000;
}