

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightsalmon;
    letter-spacing: 0;
}

section h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 46px;
    letter-spacing: 3px;
    text-align: center;
    background-color:darkgoldenrod ;
    border: 3px solid black;
    padding: 15px;
    margin: 20px 20px 15px 20px;
}

.main-name-p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
    font-style: italic;
    padding: 15px;
}

.header-list {
    margin: 20px 0;
}

nav ul {
    border: 3px solid white;
    /* padding: 10px 35px; */
    border-radius: 10px;
    width: 300px;
    background-color: salmon;
    margin-left: 20px;
}

.header-list ul li a {
    text-decoration: none;
    color: white;
}

li {
    font-size: 26px;
    padding: 5px 6px 5px 10px;
}

h2 {
    font-family: Georgia;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 26px;
}

.flex-block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    font-size: 0;
}

.box {
    display:flex;
    flex-direction: column;
    border: 4px solid white;
    background-color: #a52a2a96;
    border-radius: 10px;
    min-width: 250px;
    min-height: 250px;
    width: calc(33.3333% - 15px);
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 10px; */
}

.description-p {
    color: white;
    font-family:monospace;
    font-size: 16px;
}



/* @media (min-width: 1000px) {
    .flex-block {
        width: calc(50% - 15px);
    }
}

@media (min-width: 1920px) {
    .flex-block {
        width: calc(33.3333% - 30px);
    }
} */

@media (max-width: 1000px) {
    body {
        background-color:cornflowerblue;
    }
}

@media (max-width: 1000px) {
    nav ul {
        background-color: rgba(220, 20, 60, 0.829);
    }
}

@media (max-width: 1000px) {
    li {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    body {
        background-color: firebrick;
    }
}

@media (max-width: 480px) {
    .box {
        background-color:#a9a9a9a5;
    }
}

@media (max-width: 480px) {
    li {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    nav ul {
        margin: 0;
        width: 250px;
        background-color:#d2691ec9;
    }
}

