* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    display: flex;
    justify-content: center;
    background-color: #444;
    color: #fff;
    height: 100vh
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1024px
}

section h1 {
    margin-bottom: 25px
}

section h3 {
    background-color: crimson;
    padding: 15px 30px;
    margin-bottom: 15px;
    border-radius: 15px
}

section div.container div.img-wrapper {
    border-radius: 25px;
    overflow: hidden
}

section div.container div.buttons {
    display: flex;
    position: relative;
    margin-bottom: 70px
}

section div.container div.buttons button {
    cursor: pointer;
    padding: 10px;
    background-color: crimson;
    color: #fff;
    font-weight: 600;
    border: 1px solid crimson;
    border-radius: 10px
}

section div.container div.buttons button.left-btn {
    position: absolute;
    left: -15px;
    top: -25px
}

section div.container div.buttons button.play-btn {
    position: absolute;
    top: -50px;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 24px;
    transform: translateX(-50%)
}

section div.container div.buttons button.right-btn {
    position: absolute;
    top: -25px;
    right: -15px
}

section div.btns-container {
    display: flex;
    justify-content: space-between
}

section div.btns-container button {
    border-radius: 5px;
    text-align: center
}

@media(max-width: 880px) {

    div.container,
    div.btns-container {
        width: 90vw
    }

    div.container img {
        width: 100%;
        height: auto
    }

    button.play-btn {
        width: 20px;
        height: 20px
    }
}

.img-wrapper img {
    transition: opacity .4s ease, transform .4s ease;
    opacity: 1;
    transform: translateX(0)
}

.slide-next {
    opacity: 0 !important;
    transform: translateX(-25px) !important
}

.slide-prev {
    opacity: 0 !important;
    transform: translateX(25px) !important
}